ion-menu {
  --width: 280px; /* Ajustar ancho del menú para un look más estilizado */
}

ion-menu ion-header {
  ion-toolbar {
    --background: #111213;
    --color: #ffffff;
    
    --border-width: 0; /* Sin borde */
    box-shadow: none; /* Sin sombra */
  }

}
ion-content{
  --background: #384455;
}

ion-menu ion-list {
  background: #384455;
}

ion-menu ion-item {
  --background: #384455;
  --color: var(--app-color-texto-secundario);
  --ripple-color: rgba(192, 160, 160, 0.3); /* TODO: Considerar crear una variable para este color RGBA */
  transition: background-color 0.2s ease-in-out;

  ion-icon {
    color: var(--app-color-texto-secundario);
    transition: transform 0.2s ease-in-out; /* Animación sutil del icono */
  }

  ion-label {
    font-weight: 500; /* Texto ligeramente más negrita para los ítems del menú */
  }

  &:hover, &:focus {
    --background: rgba(255, 255, 255, 0.08); /* Resaltado sutil al pasar el ratón/enfocar */
  }

  &:active {
    --background: rgba(255, 255, 255, 0.15); /* Resaltado más pronunciado al activar */
    ion-icon {
      transform: translateX(5px); /* Mover el icono ligeramente al activar */
    }
  }
}