<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/images/logo.png" alt="Logo" class="logo-img">
      <div class="welcome-text">
        <span class="welcome-title">Bienvenido</span>
        <span class="username">{{ username }}!</span>
      </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false" menu="main-menu" side="end"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  
  <!-- Barra de búsqueda -->
  <div class="search-container">
    <ion-searchbar 
      placeholder="buscar......" 
      class="custom-searchbar"
      [(ngModel)]="searchTerm"
      (ionInput)="onSearchChange($event)">
    </ion-searchbar>
  </div>

 <!-- Sección de Servicios -->
  <div class="services-section">
    <h2 class="services-title">Servicios</h2>
    
    <!-- Carousel de servicios -->
    <div class="services-carousel">
      <div class="services-container" #servicesContainer>

        <!-- Iteración dinámica de servicios -->
        <div class="service-card" *ngFor="let service of services"
          (click)="
            service.id === 'cortes' ? goToCortes() :
            service.id === 'skincare' ? goToSkincare() :
            service.id === 'barba' ? goToBarba() :
            service.id === 'cejas' ? goToCejas() : null
          ">
          <div class="service-image">
            <img [src]="service.image" [alt]="service.name">
          </div>
          <div class="service-info">
            <h3>{{ service.name }}</h3>
            <p>{{ service.description }}</p>
          </div>
        </div>

      </div>

      <!-- Botón de navegación derecha -->
      <ion-button 
        fill="clear" 
        class="carousel-nav-btn right-nav"
        (click)="scrollServices('right')">
        
      </ion-button>
    </div>
  </div>

  <!-- Botones de acción -->
  <div class="action-buttons">
    <ion-button 
      expand="block" 
      class="reserve-button"
      (click)="goToReservation()">
      Reservar cita
    </ion-button>

    <ion-fab-button 
  class="ai-button"
  (click)="goToAI()"
  fill="clear">
  <img src="assets/images/chatbott.png" alt="Asistente IA" class="ai-avatar">
    </ion-fab-button>
  </div>

</ion-content>

